<!DOCTYPE html>
<html>
  <head>
    <title>Mad Lib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body class="m-4">
    <div id="foodie">
        <h1>A foodie's story</h1>
        <p>
          It was @Model.Food day at school, and @Model.Name was super @Model.Adjective for lunch. But when she went outside to eat, a @Model.Noun stole her @Model.Food! @Model.Name chased the @Model.Noun all over school. She @Model.Verb1, @Model.Verb2, and @Model.Verb3 through the playground. Then she tripped on her @Model.Noun and the @Model.Noun escaped! Luckily, @Model.Name's friends were willing to share their @Model.Food with her.
        </p>
      </div>
      <a href="/">Go back to homepage for another theme</a>
  </body>
</html>