<!DOCTYPE html>
<html>
  <head>
    <title>Mad Lib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body class="m-4">
    <div id="story">
        <h1>A fantastical adventure</h1>
        <p>
          One day, <strong>@Model.Person1</strong> and
          <strong>@Model.Person2</strong> were walking through the woods, when
          suddenly a giant <strong>@Model.Animal</strong> appeared. @Model.Exclamation
          , <strong>@Model.Person1</strong> cried. The two of them
          <strong>@Model.Verb</strong> as quickly possible, and when they were
          safe, <strong>@Model.Person1</strong> and
          <strong>@Model.Person2</strong> gave each other a giant
          <strong>@Model.Noun</strong>.
        </p>
      </div>
  </body>
</html>